<div class="tasks-content mt-3">
	<div class="task-content-body d-flex gap-10">
		<div class="card task-sidebar-card">
			<div class="card-body d-flex flex-column gap-10">
				<div class="task-sidebar-item active d-flex justify-content-between">
					<div class="left d-flex flex-column">
						<span class="task-head text-theme weight-700 font-11">Designer</span>
						<span class="task-desig text-light font-9">Project Manager</span>
					</div>
					<span class="count-badge">20</span>
				</div>
				<div class="task-sidebar-item d-flex justify-content-between">
					<div class="left d-flex flex-column">
						<span class="task-head text-theme weight-700 font-11">Designer</span>
						<span class="task-desig text-light font-9">Project Manager</span>
					</div>
					<span class="count-badge">20</span>
				</div>
				<button type="button" class="create-grp-button">
					Create Group
				</button>
			</div>
		</div>
		<div class="task-group">
			<app-task-group class="d-flex gap-5" [projectCompletion]="projectCompletion"></app-task-group>
		</div>
	</div>
</div>