<div class="task-group-content d-flex flex-column gap-5">
	<div class="task-group-head">Start</div>
	<div class="task-group-body d-flex flex-column gap-5">
		<app-task-group-item [projectCompletion]="projectCompletion"></app-task-group-item>
		<app-task-group-item [projectCompletion]="projectCompletion"></app-task-group-item>
		<app-task-group-item [projectCompletion]="projectCompletion"></app-task-group-item>
		<app-task-group-item [projectCompletion]="projectCompletion"></app-task-group-item>
		<app-task-group-item [projectCompletion]="projectCompletion"></app-task-group-item>
	</div>
	<button type="button" class="task-grp-button">
		<i class='bx bx-plus'></i>
		Add new
	</button>
</div>
<div class="task-group-content d-flex flex-column gap-5">
	<div class="task-group-head">Feature list</div>
	<div class="task-group-body d-flex flex-column gap-5">
		<app-task-group-item [projectCompletion]="projectCompletion"></app-task-group-item>
	</div>
	<button type="button" class="task-grp-button">
		<i class='bx bx-plus'></i>
		Add new
	</button>
</div>
<div class="task-group-content d-flex flex-column gap-5">
	<div class="task-group-head">Feature list</div>
	<!-- <app-task-group-item [projectCompletion]="projectCompletion"></app-task-group-item> -->
	<button type="button" class="task-grp-button">
		<i class='bx bx-plus'></i>
		Add new
	</button>
</div>
<div class="task-group-content d-flex flex-column gap-5">
	<!-- <div class="task-group-head">Feature list</div> -->
	
	<button type="button" class="create-grp-button">
		<i class='bx bx-plus'></i>
		Create group
	</button>
	<!-- <button type="button" class="task-grp-button">
		<i class='bx bx-plus'></i>
		Add new
	</button> -->
</div>
<div class="task-group-content d-flex flex-column gap-5">
	<!-- <div class="task-group-head">Feature list</div> -->
	
	<button type="button" class="create-grp-button">
		<i class='bx bx-plus'></i>
		Create group
	</button>
	<!-- <button type="button" class="task-grp-button">
		<i class='bx bx-plus'></i>
		Add new
	</button> -->
</div>
