<div class="announcement-content mt-3">
	<div class="row">
		<div class="col-md-4">
			<div class="top d-flex align-items-center gap-10">
				<div class="btn-group">
					<button type="button" class="theme-button split">Team</button>
					<button type="button" class="theme-button split-drop dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
						<svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 1L5.5 5L10 1" stroke="white"/>
						</svg>
					</button>
					<ul class="dropdown-menu font-11">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="#">Separated link</a></li>
					</ul>
				</div>
				<div class="team-search">
					<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.6296 11.8459L9.87304 9.08935C10.5367 8.20586 10.895 7.13047 10.8937 6.02549C10.8937 3.20303 8.59746 0.906738 5.775 0.906738C2.95254 0.906738 0.65625 3.20303 0.65625 6.02549C0.65625 8.84795 2.95254 11.1442 5.775 11.1442C6.87998 11.1454 7.95537 10.7872 8.83886 10.1235L11.5954 12.8801C11.7349 13.0048 11.9169 13.0714 12.104 13.0662C12.2911 13.0609 12.4691 12.9843 12.6014 12.8519C12.7338 12.7196 12.8104 12.5416 12.8157 12.3545C12.8209 12.1674 12.7543 11.9854 12.6296 11.8459ZM2.11875 6.02549C2.11875 5.30235 2.33318 4.59545 2.73494 3.99418C3.13669 3.39292 3.70772 2.92429 4.37581 2.64755C5.0439 2.37082 5.77905 2.29841 6.4883 2.43949C7.19754 2.58057 7.84902 2.92879 8.36036 3.44013C8.87169 3.95146 9.21992 4.60294 9.36099 5.31219C9.50207 6.02143 9.42966 6.75658 9.15293 7.42467C8.8762 8.09276 8.40757 8.66379 7.8063 9.06555C7.20503 9.4673 6.49814 9.68173 5.775 9.68173C4.80566 9.68057 3.87635 9.29499 3.19092 8.60956C2.5055 7.92413 2.11991 6.99483 2.11875 6.02549Z" fill="#2D3748"/>
					</svg>
					<input type="text" name="search" id="search" placeholder="Type">
				</div>
			</div>
			<div class="middle mt-3 d-flex flex-column gap-10">
				<div class="header d-flex justify-content-between align-items-center">
					<div class="left">
						<span class="header-text primary-text-color">Client</span>
					</div>
				</div>
				<div class="body d-flex flex-column gap-5">
					<div class="card member-item-card active">
						<div class="card-body d-flex justify-content-between align-items-center">
							<div class="project-performer d-flex align-items-center gap-10" style="flex: 1;">
								<img src="assets/img/project-avatar.png" alt="" style="width: 30px; height: 30px; border-radius: 50%;">
								<div class="performer-name d-flex flex-column" style="line-height: 14px;">
									<span class="weight-700">Misbah Himel</span>
									<span class="text-light weight-400"><small>Project Manager</small></span>
								</div>
							</div>
							<span class="count-badge">20</span>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom mt-3 d-flex flex-column gap-10">
				<div class="header d-flex justify-content-between align-items-center">
					<div class="left">
						<span class="header-text primary-text-color">Team Mates</span>
					</div>
				</div>
				<div class="body d-flex flex-column gap-5">
					<div class="card member-item-card">
						<div class="card-body d-flex justify-content-between align-items-center">
							<div class="project-performer d-flex align-items-center gap-10" style="flex: 1;">
								<img src="assets/img/project-avatar.png" alt="" style="width: 30px; height: 30px; border-radius: 50%;">
								<div class="performer-name d-flex flex-column" style="line-height: 14px;">
									<span class="weight-700">Misbah Himel</span>
									<span class="text-light weight-400"><small>Project Manager</small></span>
								</div>
							</div>
							<span class="count-badge">20</span>
						</div>
					</div>
					<div class="card member-item-card">
						<div class="card-body d-flex justify-content-between align-items-center">
							<div class="project-performer d-flex align-items-center gap-10" style="flex: 1;">
								<img src="assets/img/project-avatar.png" alt="" style="width: 30px; height: 30px; border-radius: 50%;">
								<div class="performer-name d-flex flex-column" style="line-height: 14px;">
									<span class="weight-700">Misbah Himel</span>
									<span class="text-light weight-400"><small>Project Manager</small></span>
								</div>
							</div>
							<span class="count-badge">20</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>